<script setup>
</script>

<template>
  <div class="bg-customBg text-customFont tracking-wide max-w-full font-Nunito min-h-dvh">
    <Header />
    <NuxtPage />
  </div>
</template>

<style scoped>
</style>
