<template>
  <div>
    <div class="flex mb-10 pb-10 border-b-borderDivider border-solid border-b-4">
      <div class="flex align-center justify-center shrink-0 w-12 h-12 mr-6">
        <i-address />
      </div>
      <div class="flex-1">
        <div class="mb-4 text-xl leading-none font-semibold">
          Адрес
        </div>
        <div>
          Россия 242610, Брянская область, Дятьковский р-н, г. Фокино, ул. Базарная, д.10.
        </div>
      </div>
    </div>
    <div class="flex mb-10 pb-10 border-b-borderDivider border-solid border-b-4">
      <div class="flex align-center justify-center shrink-0 w-12 h-12 mr-6">
        <i-schedule />
      </div>
      <div class="flex-1">
        <div class="mb-4 text-xl leading-none font-semibold">
          Режим работы
        </div>
        <div>
          8:00 - 19:00
        </div>
      </div>
    </div>

    <div class="flex mb-10 pb-10 border-b-borderDivider border-solid border-b-4">
      <div class="flex align-center justify-center shrink-0 w-12 h-12 mr-6">
        <i-phone />
      </div>
      <div class="flex-1">
        <div class="mb-4 text-xl leading-none font-semibold">
          Телефон
        </div>
        <div class="flex flex-col">
          <NuxtLink href="tel:+74832367380">
            +7(4832)36-73-80
          </NuxtLink>
          <NuxtLink href="tel:+74832367381">
            +7(4832)36-73-81
          </NuxtLink>
        </div>
      </div>
    </div>

    <div class="flex">
      <div class="flex align-center justify-center shrink-0 w-12 h-12 mr-6">
        <i-mail />
      </div>
      <div class="flex-1">
        <div class="mb-4 text-xl leading-none font-semibold">
          E-mail
        </div>
        <div>
          <NuxtLink href="mailto:info@csr32.ru">
            info@csr32.ru
          </NuxtLink>
        </div>
      </div>
    </div>
  </div>
</template>
