<script setup>
import { menuItems } from '../variables/menuItems';

const navigationLinks = menuItems
const mobileMenuOpen = ref(false)
const lastScrollTop = ref(0);
const headerTop = ref(0);
const disableTransition = ref(false)

function toggleMenu(event) {
  mobileMenuOpen.value = !mobileMenuOpen.value
  if (mobileMenuOpen.value)
  {
    document.body.classList.add('overflow-hidden')
    disableTransition.value = true
  }
  else {
    document.body.classList.remove('overflow-hidden')
    setTimeout(() => disableTransition.value = false, 300)
  }
  event.stopPropagation()
}

function handleScroll() {
  const currentScroll = window.pageYOffset || document.documentElement.scrollTop;
  if (currentScroll > lastScrollTop.value) {
    headerTop.value = Math.max(-112, headerTop.value - (currentScroll - lastScrollTop.value));
  } else {
    headerTop.value = 0;
  }
  lastScrollTop.value = currentScroll;
}


function closeMenu() {
  mobileMenuOpen.value = false
  document.body.classList.remove('overflow-hidden')
  setTimeout(() => disableTransition.value = false, 300)
}

onMounted(() => {
  window.addEventListener('scroll', handleScroll);
});

onUnmounted(() => {
  window.removeEventListener('scroll', handleScroll);
});
</script>

<template>
  <header
    class="bg-customBg p-6 sticky z-10"
    :class="{ 'h-dvh w-full': mobileMenuOpen, 'transition-top duration-300': !disableTransition && !headerTop }"
    :style="{top: mobileMenuOpen ? '0' : headerTop + 'px'}"
    @click="closeMenu"
  >
    <div class="container mx-auto flex items-center justify-between">
      <!-- Logo -->
      <div>
        <img src="../public/logoLight_w.png" alt="Logo" class="h-16">
      </div>
      <!-- Desktop Menu -->
      <nav class="hidden md:flex space-x-6">
        <StyledLink v-for="link of navigationLinks" :to="link.page" :key="link.name">
          {{ link.name }}
        </StyledLink>
      </nav>
      <!-- Mobile Menu Button -->
      <button
        class="md:hidden ml-auto flex items-center focus:outline-none"
        @click="toggleMenu($event)"
      >
        <component
          :is="mobileMenuOpen ? 'i-close' : 'i-burger'"
          class="w-6 h-6"
          :class="{
            'rotate-90': mobileMenuOpen,
            'rotate-0': !mobileMenuOpen,
          }"
        />
      </button>
    </div>
    <div
      v-if="mobileMenuOpen"
      class="md:hidden overflow-hidden w-full fixed font-medium flex flex-col bg-customBg"
    >
      <StyledLink v-for="link of navigationLinks" is-mobile :to="link.page" :key="link.name">
        {{ link.name }}
      </StyledLink>
    </div>
  </header>
</template>

<style scoped>
</style>
