<script setup>
import { heroServicesOptions } from '../variables/heroServicesOptions';

const options = heroServicesOptions
</script>

<template>
  <div class="container mb-12 md:mb-28 lg:mb-36 mt-12 mx-auto px-6 text-center lg:text-start flex flex-col lg:flex-row">
    <div class="max-w-full lg:max-md xl:max-w-3xl mb-12 lg:mb-40 xl:mb-36 font-Nunito flex-none">
      <h1 class="font-semibold text-4xl md:text-6xl lg:text-5xl xl:text-6xl mb-10">
        <span class="block">Решения в области</span>
        <TypingEffect class="text-customGold block -mt-4 text-6xl md:text-8xl md:-mt-4 lg:-mt-6" :options="options" />
        <span class="block">для ключевых отраслей</span>
        <span class="block">промышленности</span>
      </h1>
      <h2 class="text-customFont2 text-xl/[1.2] mx-auto lg:mx-0 mb-8 max-w-60">
        ООО "Центрспецремонт - одна из лидирующих компаний на рынке бла-бла-бла-бла-бла парам па парам
      </h2>
      <NuxtLink to="/contact">
        <StyledButton>
          Связаться с нами
        </StyledButton>
      </NuxtLink>
    </div>
    <div class="flex-1 md:-mt-10">
      <img src="public/factory.webp" class="mx-auto" width="600" height="600" alt="Работники чинят завод">
    </div>
  </div>
</template>

<style scoped>
</style>
