<script setup>
const logos = [
  { id: 1, src: 'https://img.freepik.com/free-vector/bird-colorful-logo-gradient-vector_343694-1365.jpg?size=338&ext=jpg&ga=GA1.1.1141335507.1718841600&semt=sph' },
  { id: 2, src: 'https://cemros.ru/upload/uf/e61/modify/fit/450x300/webp/v667aee1ivoakpqtzukygfc5q1wtpeid.webp' },
  // Добавьте объекты с ID и путями к логотипам партнеров
]
</script>

<template>
  <div class="scrolling_container">
    <div class="scrolling_banner">
      <img class="first" src="http://bvivaloyalty.com/wp-content/uploads/2016/12/poseidon.png">
      <img v-for="logo of logos" :key="logo.id" :src="logo.src">
      <img v-for="logo of logos" :key="logo.id" :src="logo.src">
      <img v-for="logo of logos" :key="logo.id" :src="logo.src">
    </div>
  </div>
</template>

<style>
.scrolling_banner {
  --banner-width: 300px;
  --banner-height: 200px;
  --banner-margin-bottom: 10px;
  --banner-margin-right: 5px;
  --banner-items: 6;
  --banner-duration: 2s;
}

.scrolling_container {
  width: 100%;
  overflow: hidden;
}

.scrolling_banner {
  height: var(--banner-height);
  width: calc((var(--banner-width) + var(--banner-margin-right)) * var(--banner-items));
  margin-bottom: calc(var(--banner-margin-bottom)/ 2);
  font-size: 0
}

.scrolling_banner * {
  margin-bottom: var(--banner-margin-bottom);
  margin-right: var(--banner-margin-right);
  height: var(--banner-height);
  width: var(--banner-width);
}

.first {
  -webkit-animation: bannermove var(--banner-duration) linear infinite;
  -moz-animation: bannermove var(--banner-duration) linear infinite;
  -ms-animation: bannermove var(--banner-duration) linear infinite;
  -o-animation: bannermove var(--banner-duration) linear infinite;
  animation: bannermove var(--banner-duration) linear infinite
}

@keyframes bannermove {
  0% {
    margin-left: 0
  }
  100% {
    margin-left: calc((var(--banner-width) + var(--banner-margin-right)) * -1)
  }
}
</style>
