<script setup lang="ts">
import type { Vacancy } from '../interfaces/vacancy';

defineProps<Vacancy>()

const hover = ref(false)
</script>

<template>
  <div
    class="relative overflow-hidden m-h-96 m-w-96 aspect-square"
    @mouseenter="hover = true"
    @mouseleave="hover = false"
  >
    <div
      class="transition duration-700 ease-in-out transform relative aspect-square"
      :class="hover ? 'scale-110' : 'scale-110 lg:scale-100'"
    >
      <img
        :src="imageSrc"
        alt="Описание изображения"
        class="w-full h-full object-cover"
      >
      <div
        class="absolute inset-0 bg-black bg-opacity-70 transition-opacity duration-500 ease-in-out"
        :class="hover ? 'opacity-100' : 'opacity-100 lg:opacity-0'"
      />
      <div
        class="absolute inset-0 gradient-bottom transition-opacity duration-500 ease-in-out"
        :class="hover ? 'opacity-0' : 'opacity-0 lg:opacity-100'"
      />
    </div>
    <div
      class="absolute w-full h-full top-0 left-0 text-white text-4xl font-bold transition-transform duration-700 transform"
      :class="hover ? 'translate-y-[10%]' : 'translate-y-[10%] lg:translate-y-[85%]'"
    >
      <h2 class="text-center">
        {{ title }}
      </h2>
    </div>
    <p
      class="absolute bottom-0 left-0 p-4 text-white transition-transform duration-1000 transform"
      :class="hover ? 'translate-y-0' : 'translate-y-0 lg:translate-y-full'"
    >
      {{ description }}
    </p>
  </div>
</template>

<style scoped>
.gradient-bottom {
  background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 80%, rgba(0,0,0,0.702140231092437) 85%, rgba(0,0,0,0.7049413515406162) 100%);
}
</style>
