<script setup lang="ts">
const props = defineProps<{
  options: string[]
}>()
const writing = useTyping(props.options)
</script>

<template>
  <span>{{ writing }}</span>
</template>

<style scoped>
span:after {
  content: "|";
  transform: scaleX(.25) scaleY(.9) translateY(30%) translateX(20%);
  display: inline-block;
  animation: blink 1.1s step-start infinite;
  -webkit-animation: blink 1.1s step-start infinite;
  position: relative;
  overflow: hidden;
  border-radius: 100px;
  letter-spacing: normal
}
@keyframes blink {
  0%{visibility:visible}
  50%{visibility:hidden}
}
</style>
