<script>

</script>

<template>
  <button class="bg-customGold text-customBg text-lg font-bold py-3 px-6 rounded-2xl shadow-lg hover:bg-[#E69500] focus:outline-none focus:ring-4 focus:ring-customGold focus:ring-opacity-50 transition duration-300 ease-in-out">
    <slot />
  </button>
</template>

<style scoped>
</style>
