<script setup lang="ts">
defineProps<{
  to?: string
  isMobile?: boolean
}>()
</script>

<template>
  <NuxtLink
    :to="to"
    class="hover:text-customGold nav_link text-lg"
    :class="isMobile ? 'block p-4 border-b border-gray-800' : ''"
  >
    <slot />
  </NuxtLink>
</template>

<style scoped>
.nav_link {
  position: relative;
}

.nav_link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: black;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 250ms ease-in;
}

.nav_link:hover::after {
  transform: scaleX(1);
  transform-origin: left;
  background: #f59e0b;
}
</style>
