<script setup lang="ts">
defineProps(['grid'])
</script>

<template>
  <section
    class="bg-customSection my-2 mx-4 py-6 px-4 rounded-3xl shadow-lg"
    :class="grid ? 'grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6' : 'flex flex-col lg:flex-row gap-6'"
  >
    <slot />
  </section>
</template>

<style scoped>

</style>
