<script setup>
definePageMeta({
  middleware: 'admin-guard',
})
const vacancyStore = useVacancyStore()

const file = ref(null)
const title = ref('')
const description = ref('')

function handleFileChange(event) {
  file.value = event.target.files[0]
}
async function create() {
  if (!file.value || !title.value || !description.value)
    return
  try {
    await vacancyStore.createFileEntity({
      file: file.value,
      title: title.value.trim(),
      description: description.value.trim(),
    })
    file.value = null
    title.value = ''
    description.value = ''
  }
  catch (error) {
    console.log(error)
  }
}

onMounted(async () => {
  await vacancyStore.getEntities()
})
</script>

<template>
  <div class="container mx-auto">
    <StyledH1>Админка</StyledH1>
    <h2>Вакансии</h2>
    <StyledSection grid="true">
      <div
        v-for="vacancy of vacancyStore.vacancy"
        class="flex flex-col gap-1"
      >
        <TintedImg
          :key="vacancy.id"
          :image-src="vacancy.imageSrc"
          :description="vacancy.description"
          :title="vacancy.title"
        />

        <StyledButton @click="vacancyStore.deleteEntity(vacancy.id)">
          Удалить
        </StyledButton>
      </div>
    </StyledSection>
    <StyledSection>
      <form class="flex flex-col gap-1 mx-auto" @submit.prevent="create()">
        <input v-model="title" class="text-black" placeholder="Название">
        <textarea v-model="description" class="text-black" placeholder="Описание" />
        <input type="file" @change="handleFileChange">
        <StyledButton type="submit">
          Загрузить вакансию
        </StyledButton>
      </form>
    </StyledSection>
  </div>
</template>

<style scoped></style>
