<script setup>
const vacancyStore = useVacancyStore()

onMounted(async () => {
  await vacancyStore.getEntities()
})
</script>

<template>
  <div class="container mx-auto">
    <StyledH1>
      Присоединяйтесь к "<span class="text-customGold text-4xl md:text-6xl lg:text-8xl">Центрспецремонт</span>"!
    </StyledH1>
    <h2 class="m-6 text-center lg:text-left md:text-lg lg:text-xl xl:text-2xl">
      Наша команда является ключевым элементом нашего успеха, и мы активно ищем опытных, увлеченных и целеустремленных профессионалов, желающих расти и достигать новых высот вместе с нами.
    </h2>
    <StyledSection grid="true">
      <TintedImg v-for="vacancy in vacancyStore.vacancy" :key="vacancy.id" :image-src="vacancy.imageSrc" :title="vacancy.title" :description="vacancy.description" />
    </StyledSection>
  </div>
</template>

<style scoped></style>
