<script setup>
</script>

<template>
  <div class="container mx-auto">
    <StyledH1>
      Свяжитесь с нами
    </StyledH1>
    <StyledSection>
      <div class="w-full">
        <iframe
          src="https://yandex.com/map-widget/v1/?um=constructor%3A2c676c187a3e7770697aba217ba5234978fef1bb1916f43bc380d3a25d69fcef&amp;source=constructor"
          class="w-full lg:h-full mx-auto"
          height="400"
          frameborder="0"
        />
      </div>
      <Adress />
    </StyledSection>
  </div>
</template>

<style scoped></style>
