<script setup lang="ts">
const name = ref('')
const password = ref('')
const { error, login } = useAuth()
onMounted(() => {
  clearStorage()
})
</script>

<template>
  <div class="container mx-auto">
    <div class="py-4 px-4 flex flex-col gap-1">
      <input v-model="name" class="text-black" placeholder="Логин">
      <input v-model="password" class="text-black" type="password" placeholder="Пароль">
      <p v-if="error">
        {{ error }}
      </p>
      <StyledButton @click="login(name, password)">
        Войти
      </StyledButton>
    </div>
  </div>
</template>

<style scoped>

</style>
