<script setup>
</script>

<template>
  <div class="container mx-auto px-0 bg-gray-100">
    <div class="bg-white shadow-lg rounded-lg p-6 mb-4">
      <h1 class="text-2xl md:text-3xl font-bold text-gray-800 text-center">
        Перечень наших услуг
      </h1>
    </div>
    <div class="bg-white shadow-lg rounded-lg p-6 mb-4">
      <h2 class="text-xl md:text-2xl font-bold text-gray-800 font-semibold">
        Футеровка
      </h2>
      <p class="text-gray-600 mt-2">
        Компания "Центрспецремонт" предлагает полный спектр услуг по демонтажу и монтажу футеровки, а также по торкеретированию и шоткретированию основного и вспомогательного технологического оборудования в цементной, целлюлозно-бумажной, металлургической и стекольной отраслях.
      </p>
      <p class="text-gray-600 mt-2">
        Мы выполняем футеровочные работы со следующими видами оборудования:
      </p>
      <ul class="list-disc list-inside mt-2 text-gray-700 mb-4">
        <li>Печь с шагающими балками</li>
        <li>Стекловаренные печи</li>
        <li>Термические печи</li>
        <li>Вращающиеся печи</li>
        <li>Шахтные печи</li>
        <li>Нагревательные печи</li>
        <li>Печи обжига</li>
        <li>Кольцевые печи</li>
      </ul>
    </div>
    <div class="bg-white shadow-lg rounded-lg p-6 mb-4">
      <h2 class="text-xl md:text-2xl font-semibold text-gray-800">
        Монтаж и ремонт технологического оборудования
      </h2>
      <p class="text-gray-600 mt-2">
        "Центрспецремонт" предоставляет полный спектр услуг по модернизации, демонтажу и монтажу, а также по капитальному и текущему ремонту основного и вспомогательного технологического оборудования.
      </p>
      <p class="text-gray-600 mt-2">
        Наше предложение включает:
      </p>
      <ul class="list-disc list-inside mt-2 text-gray-700 mb-4">
        <li>Капитальный ремонт вращающихся печей, включая замену обечаек, восстановление опорных узлов, ремонт редуктора главного привода, и многое другое.</li>
        <li>Восстановление опорных узлов вращающихся печей и сушильных барабанов.</li>
        <li>Высококачественные работы по демонтажу и монтажу электрофильтров, вращающихся печей, сушильных барабанов и другого оборудования.</li>
        <li>Сервисное обслуживание и ремонт рукавных и электрофильтров всех типов.</li>
        <li>Монтаж и демонтаж трубопроводов, а также мостовых, козловых и портальных кранов.</li>
        <li>Ремонт опорных конструкций и выполнение инструментальной выверки и диагностики оборудования.</li>
      </ul>
    </div>
  </div>
</template>

<style scoped></style>
